body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(51, 50, 50);
  color: #fff;
}

form {
  width: 500px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 50, 50);
  border-bottom: 1px solid lightgray;
  outline: none;
  color: #fff;
}

.inputDiv {
  margin: 30px 0px;
}

.saveButton {
  width: 100%;
  padding: 7px;
  background-color: goldenrod;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.input-error {
  font-size: 15px;
  color: rgb(60, 60, 231);
}
